{% extends 'base.html' %}
{% block content %}
<h2>All Orders</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Table</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.table }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.created_at }}</td>
            <td>
                <ul>
                {% for item in order.orderitem_set.all %}
                    <li>{{ item.menu_item.name }} x {{ item.quantity }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
